<article class="article container">
    <div class="main-content">
        <h1 class="data_title"><%= data.title  %></h1>
        <h2 class="data_mintitle"><%= data.mintitle  %></h2>
        <p class="data_description" ><%= data.body %></p>
        <span class="data_contacts">For more information contact us: <a href='mailto:euphoria@gmail.com'>euphoria@gmail.com</a></span>
    </div>
    <div class="img_block">
        <img src="<%= data.img  %>" alt="" class="data_img">
    </div>
</article>
